/*
Colors used:
- Background Color (white): #FFFFFF;
- Header / Footer Color: #E6E6E6;
- Active Color: #404040
- Non-active Color: #BFBFBF
- Hover/Focus Color: #404040
-  Color:
- CTA Background Color:
- Header Color: #404040
- Text Color: #000000
*/

body{
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}
footer{
  background-color: #E6E6E6;
}
h1,h2,h3,h4{
  color: #404040;
  line-height: 1.4;
}
h1{
  font-size: 1.75em; /* em means multiply by parent fontsize*/
  font-weight: 900;
}
h2{
  font-size: 1.50em;
  font-weight: 700;
}
h3{
  font-size: 1.05em;
  font-weight: 500;
}
h4{
  font-size: 1.05em;
  font-weight: 500;
}
img{
  width: 100%;
}
#logo{
  float: left;
}
.navigation-container ul{
display: inline;
list-style-type: none;
}
.navigation-container li{
  display: inline-block;
  padding: 20px;
}
a{
  color:#BFBFBF;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}
a:hover,
a:focus{
  color: #404040;
}
a:active{
  color: #404040;
}
.button{
  display: inline-block;
  background-color: #BFBFBF;
  color: #000000 !important; /* overiding th e original link color */
  font-weight: 400;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #BFBFBF;  /*width of border - type - color */
  transition: 0.2s opacity;
}
.button:hover,
.button:focus{
  opacity: 0.7; /*80%*/
  text-decoration: none;
}
.button:active{
  opacity:1.2;
}
.button.resume{
  display: inline-block;
  background-color: #BFBFBF;
  color: #000000 !important; /* overiding th e original link color */
  font-weight: 400;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #BFBFBF;  /*width of border - type - color */
  transition: 0.2s opacity;
}
.button.resume:hover,
.button.resume:focus{
  opacity: 0.7; /*80%*/
  text-decoration: none;
}
.button.resume:active{
  opacity:1.2;
}
.button.contact{
  background-color: transparent;
  border: none;
}
.button.contact:hover,
.button.contact:focus{
  opacity: 0.5;
}
